In [10]:
#task 1
#write a function to find moving average in array over a window

def moving_average(a,k):
    n=len(a)
    l=[]
    for i in range(0,n-k+1,1):
        summ=0
        for j in range(0,k):
            summ=summ+a[i+j]
        l.append(summ)
    return l  
    
def main():
    k=3
    l=[3,5,7,2,8,10,11,65,72,81,99,100,150]
    result=moving_average(l,k)
    print(result)
    
if __name__=='__main__':main()

[15, 14, 17, 20, 29, 86, 148, 218, 252, 280, 349]

In [2]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'x':[7,2,0,3,4,25,0,3,4]})

def Func(y):
    l=df[df['x']==y].index.values.astype(int)[0]
    j=l-1
    while(j>=0):
        if df.iloc[j].x!=0:
            j=j-1
        elif df.iloc[j].x==0:
            return l-j   
    
df['y']=df['x'].apply(Func)
df

    x    y
0   7  NaN
1   2  NaN
2   0  NaN
3   3  1.0
4   4  2.0
5  25  3.0
6   0  NaN
7   3  1.0
8   4  2.0

In [5]:

import pandas as pd
import numpy.random as np
index = pd.date_range('2015-01-01', '2015-12-31',freq='B')
data=np.randint(500,1500,len(index))
s = pd.Series(data, index=index)
s

2015-01-01     756
2015-01-02    1346
2015-01-05     743
2015-01-06     775
2015-01-07    1171
2015-01-08     752
2015-01-09    1237
2015-01-12     878
2015-01-13     567
2015-01-14     701
2015-01-15     802
2015-01-16    1268
2015-01-19     639
2015-01-20    1474
2015-01-21    1162
2015-01-22    1429
2015-01-23    1168
2015-01-26    1276
2015-01-27     994
2015-01-28     871
2015-01-29     739
2015-01-30    1444
2015-02-02     785
2015-02-03     598
2015-02-04     505
2015-02-05    1371
2015-02-06     897
2015-02-09     582
2015-02-10    1462
2015-02-11     634
              ...
2015-11-20     784
2015-11-23    1370
2015-11-24     890
2015-11-25     727
2015-11-26     843
2015-11-27     538
2015-11-30     828
2015-12-01     928
2015-12-02     802
2015-12-03     605
2015-12-04     768
2015-12-07     524
2015-12-08    1029
2015-12-09     804
2015-12-10    1093
2015-12-11    1317
2015-12-14    1230
2015-12-15    1222
2015-12-16     784
2015-12-17     637
2015-12-18    1041
2015-12-21    1016
2015-12-22     718
2015-12-23    1254
2015-12-24    1465
2015-12-25     547
2015-12-28     687
2015-12-29    1465
2015-12-30    1057
2015-12-31    1106
Freq: B, Length: 261, dtype: int32

In [6]:
s.groupby(s.index.weekday_name).sum().Wednesday

49740

In [7]:
s.groupby(s.index.month).mean()

1     1008.727273
2      967.850000
3     1058.090909
4      971.454545
5     1068.761905
6     1106.045455
7      941.826087
8      991.809524
9      949.136364
10    1068.000000
11     889.238095
12     960.826087
dtype: float64

In [9]:
pd.Grouper((s.groupby(s.index.month)).max())

Grouper(key=1     1474
2     1462
3     1493
4     1452
5     1432
6     1452
7     1466
8     1494
9     1468
10    1440
11    1479
12    1465
dtype: int32, axis=0, sort=False)